In [30]:
import sys
sys.path.append("..")

In [31]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [41]:
from src.dataset_highresolution import HierarchicalCountyDataset
import pandas as pd

In [48]:
dataset = HierarchicalCountyDataset(config_dir="../../config/catalog.yml",
        cases_dir="../../data/COVID-19-up-to-date.csv",
        medical_data_dir="../../data/Italy/regional_medical_data_processed.csv",
        ifr_dir="../../data/weighted_fatality.csv",
        serial_interval_dir="../../data/serial_interval.csv",
        interventions_dir="../../data/interventions.csv",
        mobility_dir="../../data/Italy/google_mobility_covariates_processed.csv")

../src/dataset_highresolution.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  interventions[intervention_name][ind] = interventions["lockdown"][ind].copy(0)

In [49]:
dataset.interventions

,Country,schools_universities,travel_restrictions,public_events,sport,lockdown,social_distancing_encouraged
5,Italy,2020-03-05,2020-03-09,2020-03-09,2020-03-09,2020-03-11,2020-03-09

In [50]:
dataset.covariates

,state,county,denominazione_regione,google_county,date,grocery/pharmacy,parks,residential,retail/recreation,transitstations,workplace
0,IT,Abruzzo,Abruzzo,Abruzzo,2019-12-16,0.000,0.000,0.000,0.000,0.000,0.000
654,IT,Campania,Campania,Campania,2019-12-16,0.000,0.000,0.000,0.000,0.000,0.000
1090,IT,Liguria,Liguria,Liguria,2019-12-16,0.000,0.000,0.000,0.000,0.000,0.000
1199,IT,Lombardy,Lombardia,Lombardy,2019-12-16,0.000,0.000,0.000,0.000,0.000,0.000
436,IT,Bolzano,P.A. Bolzano,Trentino-South Tyrol,2019-12-16,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...
1307,IT,Lombardy,Lombardia,Lombardy,2020-04-08,-52.169,-85.671,38.982,-89.478,-89.491,-78.327
1852,IT,Sardinia,Sardegna,Sardinia,2020-04-08,-52.302,-77.542,27.762,-83.707,-77.193,-65.004
544,IT,Bolzano,P.A. Bolzano,Trentino-South Tyrol,2020-04-08,-58.328,-91.146,35.169,-91.338,-82.883,-71.585
1089,IT,Lazio,Lazio,Lazio,2020-04-08,-52.262,-87.737,36.174,-86.000,-87.460,-75.670
2397,IT,Veneto,Veneto,Veneto,2020-04-08,-45.159,-85.382,34.701,-86.119,-84.242,-67.484

In [57]:
dataset.ifr

,Unnamed: 0,"Region, subregion, country or area *",0-9,Oct-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,weighted_fatality,population
0,3345,Denmark,606.029,675.948,775.962,672.290,738.207,810.126,654.530,586.138,272.973,0.008792,5792.203
1,3450,Norway,614.323,643.031,726.383,738.724,724.930,712.508,586.156,446.448,228.739,0.007924,5421.242
2,3465,Sweden,1193.951,1127.127,1276.930,1320.299,1264.123,1296.647,1093.868,994.244,532.081,0.008856,10099.270
3,3480,United Kingdom,8044.056,7642.473,8558.707,9295.024,8604.251,9173.465,7286.777,5830.635,3450.616,0.009185,67886.004
4,3570,Italy,4994.995,5733.448,6103.436,6998.434,9022.004,9567.192,7484.862,6028.908,4528.549,0.010893,60461.828
5,3675,Spain,4234.487,4736.077,4617.599,5901.993,7938.499,7046.327,5340.654,4015.306,2923.841,0.009262,46754.783
6,3705,Austria,874.182,876.208,1115.377,1243.416,1178.265,1407.000,1033.320,790.437,488.195,0.008967,9006.400
7,3720,Belgium,1302.703,1312.251,1386.085,1503.997,1518.439,1598.741,1369.876,939.413,658.111,0.009818,11589.616
8,3735,France,7527.474,7883.477,7371.029,8011.050,8325.667,8635.057,7764.786,5727.704,4027.268,0.011526,65273.512
9,3750,Germany,7880.904,7930.616,9377.361,10872.020,10243.351,13488.393,10644.142,7471.414,5875.744,0.010928,83783.945
10,3795,Switzerland,884.945,834.867,1039.729,1219.224,1166.588,1320.622,977.435,751.993,459.215,0.008815,8654.618

In [52]:
dataset.cases

           date   county  cases  deaths
0    2020-01-24  Abruzzo    0.0     0.0
1    2020-01-25  Abruzzo    0.0     0.0
2    2020-01-26  Abruzzo    0.0     0.0
3    2020-01-27  Abruzzo    0.0     0.0
4    2020-01-28  Abruzzo    0.0     0.0
...         ...      ...    ...     ...
1612 2020-04-05   Veneto  402.0    24.0
1613 2020-04-06   Veneto  362.0    31.0
1614 2020-04-07   Veneto  337.0    33.0
1615 2020-04-08   Veneto  485.0    41.0
1616 2020-04-09   Veneto  523.0    20.0

[1617 rows x 4 columns]

In [55]:
# to make this work with test data, just change line 136 from 
        #for county_num, county in tqdm(enumerate(self.counties)):
#to         for county_num, county in tqdm(enumerate(self.counties[:1])):
stan_data = dataset.get_stan_data(75)

0it [00:00, ?it/s]../src/dataset_highresolution.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases["date"] = cases["date"].apply(pd.to_datetime, format="%d-%m-%Y")
../src/dataset_highresolution.py:183: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cases["t"] = cases["date"].apply(lambda v: dt_to_dec(v))
../src/dataset_highresolution.py:187: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covariates["t"] = covariates["date"].apply(lambda v: dt_to_dec(v))

First non-zero cases is on day 34, and 30 days before 5 days is day 25
Abruzzo has 52 days of death data
Abruzzo has 45 days of mobility data

1it [00:01,  1.38s/it]

First non-zero cases is on day 41, and 30 days before 5 days is day 29
Aosta has 48 days of death data
Aosta has 41 days of mobility data

2it [00:02,  1.30s/it]

First non-zero cases is on day 34, and 30 days before 5 days is day 21
Apulia has 56 days of death data
Apulia has 49 days of mobility data

3it [00:03,  1.25s/it]

First non-zero cases is on day 39, and 30 days before 5 days is day 39
Basilicata has 38 days of death data
Basilicata has 31 days of mobility data

4it [00:04,  1.25s/it]

First non-zero cases is on day 32, and 30 days before 5 days is day 25
Bolzano has 52 days of death data
Bolzano has 45 days of mobility data

5it [00:06,  1.24s/it]

First non-zero cases is on day 35, and 30 days before 5 days is day 30
Calabria has 47 days of death data
Calabria has 40 days of mobility data

6it [00:07,  1.24s/it]

First non-zero cases is on day 34, and 30 days before 5 days is day 25
Campania has 52 days of death data
Campania has 45 days of mobility data

7it [00:08,  1.24s/it]

First non-zero cases is on day 31, and 30 days before 5 days is day 8
Emilia-Romagna has 69 days of death data
Emilia-Romagna has 62 days of mobility data

8it [00:09,  1.16s/it]

First non-zero cases is on day 37, and 30 days before 5 days is day 19
Friuli-Venezia Giulia has 58 days of death data
Friuli-Venezia Giulia has 51 days of mobility data

9it [00:10,  1.10s/it]

First non-zero cases is on day 31, and 30 days before 5 days is day 19
Lazio has 58 days of death data
Lazio has 51 days of mobility data

10it [00:11,  1.09s/it]

First non-zero cases is on day 32, and 30 days before 5 days is day 18
Liguria has 59 days of death data
Liguria has 52 days of mobility data

11it [00:12,  1.05s/it]

First non-zero cases is on day 31, and 30 days before 5 days is day 4
Lombardy has 73 days of death data
Lombardy has 66 days of mobility data

12it [00:13,  1.02s/it]

First non-zero cases is on day 33, and 30 days before 5 days is day 15
Marche has 62 days of death data
Marche has 55 days of mobility data

13it [00:14,  1.01it/s]

First non-zero cases is on day 39, and 30 days before 5 days is day 38
Molise has 39 days of death data
Molise has 32 days of mobility data

14it [00:15,  1.04s/it]

First non-zero cases is on day 31, and 30 days before 5 days is day 15
Piedmont has 62 days of death data
Piedmont has 55 days of mobility data

15it [00:16,  1.05s/it]

First non-zero cases is on day 39, and 30 days before 5 days is day 29
Sardinia has 48 days of death data
Sardinia has 41 days of mobility data

16it [00:17,  1.07s/it]

First non-zero cases is on day 32, and 30 days before 5 days is day 29
Sicily has 48 days of death data
Sicily has 41 days of mobility data

17it [00:18,  1.05s/it]

First non-zero cases is on day 39, and 30 days before 5 days is day 25
Trento has 52 days of death data
Trento has 45 days of mobility data

18it [00:19,  1.04s/it]

First non-zero cases is on day 32, and 30 days before 5 days is day 22
Tuscany has 55 days of death data
Tuscany has 48 days of mobility data

19it [00:20,  1.01s/it]

First non-zero cases is on day 37, and 30 days before 5 days is day 27
Umbria has 50 days of death data
Umbria has 43 days of mobility data

20it [00:21,  1.02s/it]

First non-zero cases is on day 31, and 30 days before 5 days is day 11
Veneto has 66 days of death data
Veneto has 59 days of mobility data

21it [00:22,  1.08s/it]

In [56]:
stan_data

{'M': 21,
 'p1': 6,
 'p2': 5,
 'N0': 6,
 'N2': 75,
 'SI': 0     1.832618e-02
 1     6.659231e-02
 2     1.019139e-01
 3     1.177168e-01
 4     1.183856e-01
           ...
 70    2.925304e-11
 71    2.000644e-11
 72    1.367839e-11
 73    9.348966e-12
 74    6.388001e-12
 Name: fit, Length: 75, dtype: float64,
 'EpidemicStart': [31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31,
  31],
 'N': [52,
  48,
  56,
  38,
  52,
  47,
  52,
  69,
  58,
  58,
  59,
  73,
  62,
  39,
  62,
  48,
  48,
  52,
  55,
  50,
  66],
 'intervention1': array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]]),
 'intervention2': array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]]),
 'intervention3': array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]]),
 'intervention4': array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]]),
 'intervention5': array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]]),
 'intervention6': array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.],
        [1., 1., 1., ..., 1., 1., 1.]]),
 'x1': array([[ 22.41      ,  34.722     ,   0.        , ...,   0.        ,
          14.916     ,   0.        ],
        [-12.165     ,  45.003     ,   0.        , ...,  31.667     ,
          18.877     ,   0.        ],
        [ -2.945     ,  64.151     ,  75.867     , ...,   9.314     ,
          58.732     ,   0.        ],
        ...,
        [-86.87066667, -79.97266667, -85.393     , ..., -86.64933333,
         -78.204     , -83.98266667],
        [-86.87066667, -79.97266667, -85.393     , ..., -86.64933333,
         -78.204     , -83.98266667],
        [-86.87066667, -79.97266667, -85.393     , ..., -86.64933333,
         -78.204     , -83.98266667]]),
 'x2': array([[-0.896     , -0.709     ,  0.        , ...,  0.        ,
         -0.533     ,  0.        ],
        [-0.1       , -0.053     ,  0.        , ..., -1.702     ,
         -1.664     ,  0.        ],
        [-0.361     ,  4.057     , -1.476     , ..., -0.383     ,
         -1.562     ,  0.        ],
        ...,
        [33.95833333, 33.27966667, 30.75833333, ..., 35.258     ,
         34.50433333, 34.46533333],
        [33.95833333, 33.27966667, 30.75833333, ..., 35.258     ,
         34.50433333, 34.46533333],
        [33.95833333, 33.27966667, 30.75833333, ..., 35.258     ,
         34.50433333, 34.46533333]]),
 'x3': array([[  0.711     ,   9.107     ,   0.        , ...,   0.        ,
           1.874     ,   0.        ],
        [ -3.886     ,  19.141     ,   0.        , ...,   4.684     ,
           2.35      ,   0.        ],
        [  0.952     ,  34.979     ,   3.081     , ...,   1.293     ,
           2.093     ,   0.        ],
        ...,
        [-85.96333333, -90.515     , -83.07533333, ..., -85.023     ,
         -85.36      , -85.353     ],
        [-85.96333333, -90.515     , -83.07533333, ..., -85.023     ,
         -85.36      , -85.353     ],
        [-85.96333333, -90.515     , -83.07533333, ..., -85.023     ,
         -85.36      , -85.353     ]]),
 'x4': array([[  5.702     ,  24.957     ,   0.        , ...,   0.        ,
           4.324     ,   0.        ],
        [  0.867     ,  37.99      ,   0.        , ...,  11.752     ,
           8.626     ,   0.        ],
        [  4.909     ,  19.96      ,  12.121     , ...,   3.167     ,
          17.135     ,   0.        ],
        ...,
        [-86.14033333, -82.05366667, -86.00166667, ..., -81.84233333,
         -76.571     , -83.71866667],
        [-86.14033333, -82.05366667, -86.00166667, ..., -81.84233333,
         -76.571     , -83.71866667],
        [-86.14033333, -82.05366667, -86.00166667, ..., -81.84233333,
         -76.571     , -83.71866667]]),
 'x5': array([[  1.706     ,   1.612     ,   0.        , ...,   0.        ,
           0.119     ,   0.        ],
        [  1.184     ,   1.877     ,   0.        , ...,   1.369     ,
           0.893     ,   0.        ],
        [  1.006     , -18.352     ,  -1.123     , ...,   1.399     ,
           1.345     ,   0.        ],
        ...,
        [-73.911     , -71.67833333, -70.03966667, ..., -70.35566667,
         -68.765     , -67.04166667],
        [-73.911     , -71.67833333, -70.03966667, ..., -70.35566667,
         -68.765     , -67.04166667],
        [-73.911     , -71.67833333, -70.03966667, ..., -70.35566667,
         -68.765     , -67.04166667]]),
 'deaths': array([[ 0,  0,  0, ...,  0,  0,  0],
        [ 0,  0,  0, ...,  0,  0,  0],
        [ 0,  0,  0, ...,  0,  0,  0],
        ...,
        [-1, -1, -1, ..., -1, -1, -1],
        [-1, -1, -1, ..., -1, -1, -1],
        [-1, -1, -1, ..., -1, -1, -1]]),
 'cases': array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]]),
 'f': array([[1.58256000e-08, 1.93424000e-08, 1.93424000e-08, ...,
         1.40672000e-08, 1.75840000e-08, 1.05504000e-08],
        [1.58255997e-08, 1.93423996e-08, 1.93423996e-08, ...,
         1.40671998e-08, 1.75839997e-08, 1.05503999e-08],
        [3.07719995e-07, 2.84860794e-07, 2.88377594e-07, ...,
         2.47934397e-07, 2.95411195e-07, 2.84860797e-07],
        ...,
        [3.99156794e-07, 3.62230393e-07, 3.76297593e-07, ...,
         4.04431994e-07, 4.16740793e-07, 4.00915196e-07],
        [3.42887995e-07, 3.60471993e-07, 3.12995194e-07, ...,
         3.30579195e-07, 3.16511994e-07, 2.83102397e-07],
        [2.54967996e-07, 2.56726395e-07, 2.42659195e-07, ...,
         2.63759996e-07, 2.90135995e-07, 2.67276797e-07]])}